.section-header {
    padding-bottom: 20vh; 
    min-height: 120vh;
    background: radial-gradient(at top left, #45F5A15E 0%, #00000000 25%);
}

.section-header .header-row, .header-column{
    background: inherit !important;
}

.bg-inherit{
    background: inherit !important;
}
