@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@500&family=Poppins&display=swap");

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  background: #000;
  color: #fff;
}

/* width */
::-webkit-scrollbar {
  width: 4px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #000;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #555;
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #666;
}

/* Navbar */
.navbar {
  width: 100%;
  position: fixed !important;
  background-color: rgba(0, 0, 0, 0);
  backdrop-filter: blur(30px);
  color: var(--black);
  min-width: 50px;
  font-family: "Taviraj", serif;
  z-index: 10;
}

a {
  text-decoration: none;
}
.navbar .container {
  background: rgba(0, 0, 0, 0) !important;
}

.nav-link,
.navbar-brand {
  color: #fff !important;
  background: rgba(0, 0, 0, 0) !important;
  font-family: "Josefin Sans", sans-serif;
}
.nav-item {
  background: rgba(0, 0, 0, 0) !important;
}
.nav-link {
  font-size: 18px;
  transition: all 0.3s ease-in-out;
}
.nav-link:hover {
  transform: scale(1.05);
}

.navbar-collapse {
  background: rgba(0, 0, 0, 0) !important;
}
.navbar-nav {
  background: rgba(0, 0, 0, 0) !important;
}

@media screen and (max-width: 992px) {
  .register-button {
    display: none;
  }
}

.navbar-toggler {
  width: 20px;
  height: 20px;
  position: relative;
  transition: 0.5s ease-in-out;
}

.navbar-toggler,
.navbar-toggler:focus,
.navbar-toggler:active,
.navbar-toggler-icon:focus {
  outline: none;
  box-shadow: none !important;
  border: none !important;
}

.navbar-toggler span {
  margin: 0;
  padding: 0;
}

.toggler-icon {
  display: block;
  position: absolute;
  height: 3px;
  width: 100%;
  background: #58f6aa;
  border-radius: 1px;
  opacity: 1;
  left: 0;
  transform: rotate(0deg);
  transition: 0.4s ease-in-out;
}

.middle-bar {
  margin-top: 0px;
}

/* when navigation is clicked */
.navbar-toggler .top-bar {
  margin-top: 0px;
  transform: rotate(135deg);
}

.navbar-toggler .middle-bar {
  opacity: 0;
  filter: alpha(opacity=0);
}

.navbar-toggler .bottom-bar {
  margin-top: 0px;
  transform: rotate(-135deg);
}

/* State when the navbar is collapsed */
.navbar-toggler.collapsed .top-bar {
  margin-top: -20px;
  transform: rotate(0deg);
}

.navbar-toggler.collapsed .middle-bar {
  opacity: 1;
  filter: alpha(opacity=100);
}

.navbar-toggler.collapsed .bottom-bar {
  margin-top: 20px;
  transform: rotate(0deg);
}

/* Color of 3 lines */
.navbar-toggler.collapsed .toggler-icon {
  background: #58f6aa;
}

/* Utilities */
.text-green {
  color: #58f6aa;
}

.bg-trans {
  background: rgb(0, 0, 0, 0) !important;
}

.bg-green {
  background-color: #58f6aa !important;
  color: #000;
}

.btn-green {
  background-color: #58f6aa;
  color: #000;
  border: none;
  border-radius: 30px;
  transition: all 0.3s ease-in-out;
}
.btn-green:hover,
.btn-green:focus,
.btn-green:active {
  background-color: #58f6aa;
  color: #000;
  transform: scale(1.05);
  box-shadow: 0px 0px 100px -5px rgba(88, 246, 170, 0.53);
}
.btn-grey {
  color: #fff;
  border: solid 2px #ffffff2b;
  border-radius: 30px;
  transition: all 0.3s ease-in-out;
}
.btn-grey:hover,
.btn-grey:focus,
.btn-grey:active {
  background-color: #141414;
  color: #fff;
  transform: scale(1.05);
  box-shadow: 0px 0px 100px -5px rgba(88, 246, 170, 0.53);
}
.btn-bdark {
  color: #fff;
  background: #000;
  border: solid 2px #ffffff2b;
  border-radius: 30px;
  transition: all 0.3s ease-in-out;
}
.btn-bdark:hover,
.btn-bdark:focus,
.btn-bdark:active {
  background-color: #000;
  color: #fff;
  transform: scale(1.05);
  box-shadow: 0px 0px 100px -5px rgba(88, 246, 170, 0.53);
}

.page {
  padding-top: 100px;
}

.eventspage {
  padding-top: 100px;
  font-family: "Josefin Sans", sans-serif;
}

.eventcard {
  border-radius: 20px;
  background: #58f6aa;
  background: linear-gradient(180deg, #131a14 0%, #131a1400 100%);
  transition: all 0.3s ease-in-out;
}

.eventcard:hover {
  box-shadow: 0px 0px 100px -25px rgba(88, 246, 170, 0.53);
}

.aboutuspage > .icon {
  color: #58f6aa;
}

.teampage,
.aboutuspage,
.registerpage,
.singleevents,
.fashionshow {
  color: #fff;
  padding-top: 100px !important;
  padding-bottom: 3rem;
  font-family: "Josefin Sans", sans-serif;
  padding-left: 2px;
  padding-right: 2px;
}

/* Team Page */
.teamcard {
  border-radius: 20px;
  background: #58f6aa;
  background: linear-gradient(180deg, #131a14 0%, #131a1400 100%);
  transition: all 0.3s ease-in-out;
}

.teamcard:hover {
  box-shadow: 0px 0px 100px -25px rgba(88, 246, 170, 0.53);
}

/* .team-image{
  overflow: hidden;
} */

.team-image img {
  border-radius: 50%;
  transition: all 0.3s ease-in-out;
  /* width: 200px;
  height: 200px; */
  /* width: 200px;
  height: 200px; */
}

.fashion-carousel {
  width: 80%;
  margin: 0 auto;
}

@media screen and (max-width: 768px) {
  .fashion-carousel {
    width: 100%;
  }

  .image-size {
    /* width: 10rem !important; */
  }
}

.text-color {
  color: #58f6aa;
}

.dates-font,
.upcoming {
  font-family: "Josefin Sans", sans-serif;
  animation: blink linear 1.2s infinite;
  background: #00ff00;
  background: linear-gradient(to left, #00ff00 0%, #24ffff 50%, #00ffff 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.aboutfont {
  font-size: 1.1rem;
}

.about-content {
  width: 80% !important;
}

@keyframes blink {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.1;
  }
  100% {
    opacity: 1;
  }
}
@-webkit-keyframes blink {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.1;
  }
  100% {
    opacity: 1;
  }
}

.aboutus-logos > ul {
  /* display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center; */
}

.aboutus-logos > li {
  list-style: none !important;
}

.logos-img {
  width: 25%;
}

/* @media (max-width: 540px) {
  .aboutus-logos {
    display: block !important;
  }
} */
.org-logo {
  width: 50%;
  margin: auto;
}

.content {
  font-family: "Josefin Sans", sans-serif;
}

.start-image {
  width: 70%;
}
